<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
        <% include ./sm_head %>
        <script>
        $(document).ready(function(){
          if(<%= `${loginon}` %> === 1){
          alert('해당하는 아이디 정보가 없습니다 :)');
        } else if(<%= `${loginon}` %> === 2){
          alert('비밀번호가 틀렸습니다 :)');
        }
        });
        </script>
        <style>
        /*body{
          height: 100%;
          background : url(sookmyung.jpg);
          background-repeat:no-repeat;
          background-size: 100% 100%;
        }*/
        *{
          font-family:'THE외계인설명서';
        }
        html{
          margin-top: 9%;
        }
        #btn{
          box-shadow: 3px 3px 10px #dad7d7;
        /*background-color: blue;*/

        }

        </style>
    </head>

    <body>

      <div class="container">
        <div class="row text-center">
          <h1 style="font-size:70px; text-shadow: 0px 2px #ffffff, 4px 4px 0px #dad7d7;">Sook's Market</h1>
        </div>
        <div class="row text-center">
          <img src="/img/index.gif" width="80" />
        </div>
        <form style="margin-top: 50px;" action="/index" method="post" class="form-horizontal">
          <div class="form-group ">
              <label class="col-sm-4 control-label">아이디 :</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="username" id="target" placeholder="아이디를 입력해주세요.">
              </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">패스워드 :</label>
            <div class="col-sm-5">
              <input type="password" class="form-control"  name="password" id="target" placeholder="비밀번호를 입력해주세요.">
            </div>
          </div>
          <div class="form-group">
            <div class="text-center">
              <input id=btn type="submit" value="로그인" class="btn btn-primary" name="loginBtn" />
              <input id=btn type="button" value="회원가입" class="btn btn-primary" onclick="location.href='/sm_signup'" />
              <!-- <input type="button" value="testing" class="btn btn-primary" onclick="location.href='/sm_selectTime/42/1'" /> -->
            </div>
          </div>
        </form>
      </div>


    </body>

</html>
