<!DOCTYPE html>
<html>
    <head>
        <% include ./sm_head %>
        <script>
        $(document).ready(function(){
          if(<%= `${loginon}` %> === 0){
          alert('로그아웃 상태입니다 :)');
          }
        });
        </script>
    </head>

    <body>
      <div class="container">
        <div class="row text-center">
          <h3>Sook's<br/>Market</h3>
        </div>
        <div class="row text-center">
          <img src="/img/index.gif" width="80" />
        </div>
        <form action="/index" method="post" class="form-horizontal">
          <div class="form-group">
            <label for="" class="col-sm-3 control-label">ID :</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" name="username" id="target" placeholder="아이디를 입력해주세요.">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label">PW :</label>
            <div class="col-sm-5">
              <input type="text" class="form-control"  name="password" id="target" placeholder="비밀번호를 입력해주세요.">
            </div>
          </div>
          <div class="form-group">
            <div class="text-center">
              <input type="submit" value="로그인" class="btn btn-primary" name="loginBtn" />
              <input type="button" value="회원가입" class="btn btn-primary" onclick="location.href='/sm_signup'" />
              <input type="button" value="testing_re" class="btn btn-primary" onclick="location.href='/sm_request'" />
              <input type="button" value="구매" class="btn btn-primary" onclick="location.href='/sm_addItems'" />
            </div>
          </div>
        </form>
      </div>

    </body>

</html>
