<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #form{
        position:fixed;
        width:100%;
        height: 100%;
        padding-top: 1%;
        bottom: auto;
        background: #FEFEFE;


      }

      #input {
        display: inline-block;
         width: 100%;
         margin-left: 3%;
         height: auto;
         margin-bottom: 1%;
         margin-top: 2%;
      }

      #text{
        /*max-width: 90vw;*/
        width: 80%;
        height: 40px;
        margin-right: 3%;
        margin-left: 1%;
      }

      #text_button {
        /*max-width: 9vw;*/
        width: 50px;
        height: 30;
      }

      #time_button{
        height: 40px;
        margin-left: 4%;
        margin-top: 0.5%;
        margin-bottom : 1%;

      }

        #messages {
            width: 100%;
            height: 86vh;
            overflow-y: scroll;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 0px;
            background: lightblue;
        }

        #messages li {
            clear: both;
            margin-bottom: 10px;
            text-decoration: none;
            list-style-type: none;
            padding: 5px 10px;
            margin: 20px 0px 0px 20px;
        }

        .actual_msg {
            float: left;
            display: inline-block;
            margin: 3%;
            padding: 25px 34px;
            min-width: 35%;
            min-height: 10%;
            max-width: calc(80vw);
            border-radius: 5px;
            /*box-shadow: 0px 3px 3px rgba(172, 172, 172, 0.73);*/
            line-height: 1.4;
            word-wrap: break-word;
            color: #1A1A1A;
            background-color: #b3b3b3;
        }
    </style>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <script>
        $(function() {
            var socket = io();
            var seller = '<%= seller %>';
            var customer = '<%= customer %>';
            var users = '<%= session %>';
            var product_id = '<%= product_id %>';

            if ((users != seller) && (users != customer)) {
                location.href = '/404.html';
                return false;
            } else {
                //alert('join [서버로 전송]');
                socket.emit('join', {
                    'userid': users,
                    'room': product_id
                });

                $('form').submit(function() {
                    //alert('폼 버튼 클릭되었습니다:)');
                    socket.emit('chat message', $('#text').val());
                    $('#text').val('');
                    return false;
                });

                socket.on('first', function(data) {
                    //alert('first 클라이언트에서 받음');
                    //alert(data.msg.length);
                    //alert(users);
                    //alert(data.user);
                    if (users == data.user) {
                        for (i = 0; i < data.msg.length; i++) {
                          if(data.msg[i].msg_id == users){
                            $('#messages').append('<li class="actual_msg" style="background: #FEFE7C; float:right; "><b>' + data.msg[i].msg_id + "</b><br/>   " + data.msg[i].msg);
                          }
                          else{
                            $('#messages').append('<li class="actual_msg" style="background: #FEFEFE; float:left; "><b>' + data.msg[i].msg_id + "</b><br/>   " + data.msg[i].msg);
                          }
                        }
                    }
                });

                socket.on('chat message', function(data) {
                  //alert('chat message를 클라이언트에서 받음');
                    if(data.user == users){
                      $('#messages').append("<li class='actual_msg' style='text-align:left; float:right; background: #FEFE7C;'><strong>" + data.user + "</strong><br/><br/>" + data.msg + "</li>");
                    }
                    else {
                      $('#messages').append("<li class='actual_msg' style='text-align:left; float:left; background: #FEFEFE;'><strong>" + data.user + "</strong><br/><br/>" + data.msg + "</li>");
                    }
                });
            }
        });
    </script>

</head>

<body>
  <ul id="messages"></ul>
      <form id="form">
          <div id="input">
                <input name="name" id="text" placeholder="  내용을 입력해주세요.">
                <button class="btn btn-warning" id="text_button">확인</button>
          </div>
          <div id="input2">
              <button class="btn btn-warning" id="time_button">시간변경</button>
          </div>
      </form>
</body>

</html>
