<!DOCTYPE html>
<html>

<head>
    <% include ./sm_head %>
    <script language="JavaScript">
      function submitCheck(){
        var pwText = document.getElementById("pw");
        if(pwText.value==""){
          alert("비밀번호를 입력하세요.");
          return false;
        }

        var submitAfter = document.getElementById("submitAfter");
        var submitBefore = document.getElementById("submitBefore");

        submitAfter.style.display="";
        submitBefore.style.display="none";
      }

      window.onload = function(){
        var loader = document.getElementById('loader');
        var body = document.getElementById('body');
        var loadPage = document.getElementById('loadPage');
        var loadPageFooter = document.getElementById('loadPageFooter');

        loader.style.display="none";
        body.style.backgroundColor="#ffffff";
        loadPage.style.display="";
        loadPageFooter.style.display="";


        $('#loader').hide();

      }

      function cancel(){
        var cancelAfter = document.getElementById("cancelAfter");
        var cancelBefore = document.getElementById("cancelBefore");

        cancelAfter.style.display="";
        cancelBefore.style.display="none";

        location.href='/sm_main';
      }
    </script>

    <style>
    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    </style>
</head>

<body id="body">

  <div id="loader"></div>

  <div style="display:none" id="loadPage">
    <!-- 네이게이션 상단 부분 -->
    <% include ./sm_top_navigator %>
    <!-- 사이즈바 부분 -->


    <div class="container">
      <!--1-->

      <!--2-->
      <div class="row">
            <!-- (2-1) -->
            <h3 style="text-align:center;">
              <strong> 회원 정보 수정 </strong>
              <img src="/img/notepad2.png" width="37" style="margin-left:3%;"/>
            </h3>

            <hr />

            <!-- (2-2) -->
            <div class="col-xs-12 col-md-6 col-md-offset-3">
              <form action='/sm_enter_changeInfo' class="form-horizontal" role="form" method='post' onsubmit="return submitCheck()" >

                <br/><br/>

                <div class="form-group" style="text-align:center;"> <!--has-success has-feedback-->
                  <h4>비밀번호를 입력해주세요 :</h4>
                  <br/><input type="password" class="form-control" name="password" id="pw" placeholder="현재 비밀번호를 입력해주세요 :)" style="width:70%;margin-left:15%;">
                  <br/>
                </div>
                <div class="form-group"> <!--has-success has-feedback-->
                  <div class="text-center">
                    <button class="btn btn-primary" id="submitAfter" style="display:none;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 확인</button>
                    <input type="submit" value="확인" id="submitBefore" class="btn btn-primary">
                    <button class="btn btn-danger" id="cancelAfter" style="display:none;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 취소</button>
                    <input type="reset" value="취소" class="btn btn-danger" id="cancelBefore" onclick="cancel()">
                  </div>
                </div>

              </form>
            </div>
      </div>
    </div>

    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </div>
</body>

<div style="display:none" id="loadPageFooter">
  <% include ./sm_footer %>
</div>
</html>
