<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./sm_head %>
    <script>
    $(document).ready(function(){
      if(<%= `${loginon}` %> == 1){
      alert('로그인 상태입니다');
      }
    });
    </script>
  </head>

  <body>
      <% include ./sm_top_navigator %>

    <!-- Page Content -->

<div class="container">

      <div class="row">
        <div class="col-lg-4 col-sm-6 text-left">
        <a href="/sm_addItems">
        <button type="button" class="btn btn-default btn-lg" >
      	  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 파일 추가
      	</button>
      </a>
        </div>
      </div>
        <div class="row">
            <!-- 0-->
            <div class="col-lg-12">
                <h2 class="page-header">현재 등록된 제품</h2>
            </div>
            <!-- 1-->
            <div class="col-lg-4 col-sm-6 text-center">
              <div class="thumbnail">
                <a href="sm_itemDetail.html">
                <img class="img-circle img-responsive img-center" src="/img/snow.gif" alt="">
              </a>
                <h3>눈송이 인형
                    <small>전세진</small>
                </h3>
                <p>깨끗해요</p>
            </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
              <div class="thumbnail">
                <a href="#">
                <img class="img-circle img-responsive img-center" src="/img/snow.gif" alt="">
              </a>
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
              <div class="thumbnail">
                <a href="#">
                <img class="img-circle img-responsive img-center" src="/img/snow.gif" alt="">
              </a>
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            </div>
        </div>



        <hr>



    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  <!-- Footer -->
  <% include ./sm_footer %>

</html>
