<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>구매신청</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/round.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        var j = new Array(3);
        var erasedOne = new Array(3);
        var deletionCount = new Array(3);
        var timeAdditionCount = new Array(3);
        var temp = 0;
        var dayAdditionCount = 0;
        var dayDeletionCount = 0;

        for (var i = 0; i < timeAdditionCount.length; i++) {
            timeAdditionCount[i] = 0;
            deletionCount[i] = 0;
            j[i] = 1;
        }

        for (var i = 0; i < erasedOne.length; i++) {
            erasedOne[i] = new Array();
        }

        for (var i = 0; i < erasedOne.length; i++) {
            for (var t = 0; t < 5; t++) {
                erasedOne[i][t] = 0;
            }
        }

        $(function() {
            $('#datepicker0').datetimepicker({
                viewMode: 'days',
                format: 'YYYY/MM/DD'
            });

            $('#timepicker00').datetimepicker({
                format: 'LT'
            });
        });

        function setDate(dayNum) {
            var dateText = new Array();
            var datepicker = new Array();

            for (var i = 0; i <= dayAdditionCount; i++) {
                dateText[i] = document.getElementById("dateText" + i);
                datepicker[i] = '#datepicker' + i;
            }

            if (dateText[dayNum].value != "") {
                dateText[dayNum].value = "";
            }

            for (var i = 0; i <= dayAdditionCount; i++) {
                $(datepicker[i]).datetimepicker({
                    viewMode: 'days',
                    format: 'YYYY/MM/DD'
                });
            }
            $(datepicker[dayNum]).datetimepicker('show');
        }

        function showPlusBtn(dayNum) {
            var i;
            var PlusBtn = new Array();
            for (i = 0; i <= dayNum; i++) {
                PlusBtn[i] = document.getElementById("plusBtn" + i);
            }

            if (timeAdditionCount[dayNum] < 4) {
                PlusBtn[dayNum].innerHTML = "<img src='/img/plus.png' onclick='addTime(" + dayNum + ");' />";
            } else {
                PlusBtn[dayNum].innerHTML = "";
            }
        }

        function addTime(dayNum) {
            var i = 0;
            var t = 0;
            var PlusBtn = new Array();
            var timeDiv = new Array();
            var divStr = new Array();
            var str = "";

            for (i = 0; i <= dayAdditionCount; i++) {
                PlusBtn[i] = document.getElementById("plusBtn" + i);
            }

            for (i = 0; i <= dayAdditionCount; i++) {
                timeDiv[i] = new Array();
            }

            for (i = 0; i <= dayAdditionCount; i++) {
                timeDiv[i][0] = "";
                for (t = 1; t < 5; t++) {
                    timeDiv[i][t] = document.getElementById("timeDiv" + i + "" + t);
                }
            }

            divStr[0] = "<label class='col-xs-3 control-label text-center' >  </label><div class='col-xs-7' style='width:40%;'>";
            divStr[1] = "<div class='input-group date' id='timepicker" + dayNum + "" + j[dayNum] + "' onclick='resetTime(" + dayNum + "," + j[dayNum] + ");' style='width: 99%;' >";
            divStr[2] = "<input type='text' class='form-control' id='timeText" + dayNum + "" + j[dayNum] + "' />";
            divStr[3] = "<span class='input-group-addon'><span class='glyphicon glyphicon-calendar'></span></span></div></div>";
            divStr[4] = "<span><button type='button' class='btn btn-default btn-sm' onclick='deleteTime(" + dayNum + "," + j[dayNum] + ");'>삭제</button></span>";

            for (i = 0; i < divStr.length; i++) {
                str += divStr[i];
            }

            if (erasedOne[dayNum][0] == 0) {
                timeDiv[dayNum][j[dayNum]].innerHTML = str;
                if (j[dayNum] == 4) {
                    PlusBtn[dayNum].innerHTML = "";
                }
                j[dayNum]++;
                timeAdditionCount[dayNum]++;
            }

            for (t = 1; t < 5; t++) {
                if (erasedOne[dayNum][t] == 1) {
                    temp = j[dayNum];
                    j[dayNum] = t;
                    str = "";

                    divStr[0] = "<label class='col-xs-3 control-label text-center' >  </label><div class='col-xs-7' style='width:40%;'>";
                    divStr[1] = "<div class='input-group date' id='timepicker" + dayNum + "" + j[dayNum] + "' onclick='resetTime(" + dayNum + "," + j[dayNum] + ");' style='width: 99%;' >";
                    divStr[2] = "<input type='text' class='form-control' id='timeText" + dayNum + "" + j[dayNum] + "' />";
                    divStr[3] = "<span class='input-group-addon'><span class='glyphicon glyphicon-calendar'></span></span></div></div>";
                    divStr[4] = "<span><button type='button' class='btn btn-default btn-sm' onclick='deleteTime(" + dayNum + "," + j[dayNum] + ");'>삭제</button></span>";

                    for (i = 0; i < divStr.length; i++) {
                        str += divStr[i];
                    }

                    timeDiv[dayNum][t].innerHTML += str;
                    erasedOne[dayNum][t] = 0;
                    deletionCount[dayNum]--;
                    timeAdditionCount[dayNum]++;
                    j[dayNum] = temp;
                    break;
                }
            }

            if (deletionCount[dayNum] == 0) {
                erasedOne[dayNum][0] = 0;
            }

            if (timeAdditionCount[dayNum] == 4) {
                PlusBtn[dayNum].innerHTML = "";
            }
        }

        function resetTime(dayNum, timeNum) {
            var i = 0;
            var t = 0;
            var timeText = new Array();
            var timepicker = new Array();

            for (i = 0; i <= dayAdditionCount; i++) {
                timeText[i] = new Array(); //2차원 배열 선언
                timepicker[i] = new Array();
            }

            for (t = 0; t <= dayAdditionCount; t++) {
                for (i = 0; i < j[dayAdditionCount]; i++) {
                    timeText[t][i] = document.getElementById("timeText" + t + "" + i);
                    timepicker[t][i] = "#timepicker" + t + "" + i;
                }
            }

            for (t = 0; t <= dayAdditionCount; t++) {
                for (i = 0; i < j[dayAdditionCount]; i++) {
                    $(timepicker[t][i]).datetimepicker({
                        format: 'LT'
                    });
                }
            }

            $(timepicker[dayNum][timeNum]).datetimepicker('show');

            if (timeText[dayNum][timeNum].value != "") {
                timeText[dayNum][timeNum].value = "";
            }

        }

        function deleteTime(dayNum, j) {
            var PlusBtn = document.getElementById("plusBtn" + dayNum);
            var timeDiv = new Array(3);
            for (var i = 0; i < timeDiv.length; i++) {
                timeDiv[i] = new Array();
            }
            timeDiv[dayNum][j] = document.getElementById("timeDiv" + dayNum + "" + j);
            timeDiv[dayNum][j].innerHTML = "";
            PlusBtn.innerHTML = "<img src='/img/plus.png' onclick='addTime(" + dayNum + ");' />";
            deletionCount[dayNum]++;
            timeAdditionCount[dayNum]--;
            erasedOne[dayNum][0] = 1;
            erasedOne[dayNum][j] = 1;
        }

        function addDay() {
            var dayDivStr = new Array(4);
            var str = "";
            var i;

            if(dayDeletionCount==1){
              dayAdditionCount=0;
            }

            dayAdditionCount++;
            var dayDiv = document.getElementById("dayDiv"+dayAdditionCount);
            for (i = 0; i < dayDivStr.length; i++) {
                dayDivStr[i] = new Array();
            }

            dayDivStr[0][0] = "<div class='form-group'><button type='button' class='btn btn-danger' onclick='deleteDate("+dayAdditionCount+");' style='float:right;'>삭제</button><br/><br/><br/><label class='col-xs-3 control-label text-center'>● 날짜 : </label>";
            dayDivStr[0][1] = "<div class='col-xs-7'><div class='input-group date' id='datepicker" + dayAdditionCount + "' onclick='setDate(" + dayAdditionCount + ");'>  ";
            dayDivStr[0][2] = "<input type='text' class='form-control' id='dateText" + dayAdditionCount + "' />";
            dayDivStr[0][3] = "<span class='input-group-addon' ><span class='glyphicon glyphicon-calendar' ></span></span></div></div></div>";
            dayDivStr[1][0] = "<div class='form-group' style='margin-left:7%;'><label class='col-xs-3 control-label text-center'>- 시간 : </label>";
            dayDivStr[1][1] = "<div class='col-xs-7' style='width:40%;'><div class='input-group date' id='timepicker" + dayAdditionCount + "0' onclick='resetTime(" + dayAdditionCount + ",0);' style='width: 99%;'>";
            dayDivStr[1][2] = "<input type='text' class='form-control' id='timeText" + dayAdditionCount + "0' /><span class='input-group-addon' onclick='showPlusBtn(" + dayAdditionCount + ");'>";
            dayDivStr[1][3] = "<span class='glyphicon glyphicon-calendar'></span></span></div></div><span id='plusBtn" + dayAdditionCount + "'></span></div>";
            for (i = 0; i <= 3; i++) {
                dayDivStr[2][i] = "<div class='form-group' id= 'timeDiv" + dayAdditionCount + "" + (i + 1) + "' style= 'margin-left:7%;'></div>";
            }
            dayDivStr[3][0] = "<div class='form-group' style='margin-left:7%;'><label class='col-xs-3 control-label text-center'>- 방법 : </label>";
            dayDivStr[3][1] = "<div class='col-xs-5' style='width: 60%; display:block;'><input type='checkbox' value='직거래' name='way" + dayAdditionCount + "' onclick='writeTradePlace(" + dayAdditionCount + ");' />직거래<br/>";
            dayDivStr[3][2] = "<div class='col-xs-5' style='width: 95%;' id='directText" + dayAdditionCount + "'></div><br/><input type='checkbox' value='사물함거래' name='way" + dayAdditionCount + "' onclick='writeLockerPlace(" + dayAdditionCount +
                ");' />사물함 거래<br/>";
            dayDivStr[3][3] = "<div class='col-xs-5' style='width: 95%;' id='lockerText" + dayAdditionCount + "'></div><br/></div></div><hr/>";

            for (i = 0; i <= 3; i++) {
                for (var k = 0; k <= 3; k++) {
                    str += dayDivStr[i][k];
                }
            }
            dayDiv.innerHTML += str;
            if(dayDeletionCount==1){
              dayAdditionCount++;
              dayDeletionCount=0;
            }
            if(dayAdditionCount==2){
              var dayAddBtnDiv = document.getElementById("dayAddBtnDiv");
              dayAddBtnDiv.innerHTML = "";
            }
        }

        function deleteDate(dayNum){
            var dayDiv = document.getElementById("dayDiv"+dayNum);
            var dayAddBtnDiv = document.getElementById("dayAddBtnDiv");
            dayDiv.innerHTML = "";
            dayAdditionCount--;
            dayAddBtnDiv.innerHTML = "<button type='button' class='btn btn-primary' id='dayAddBtn' onclick='addDay();'' style='margin-bottom: 3%;'>거래가능 날짜 추가</button><hr/>";
            if(dayNum==1){
              dayDeletionCount = 1;
            }
        }

        function writeTradePlace(dayNum) {
            var way = document.getElementsByName("way" + dayNum);
            var placeText = new Array();
            var directText = document.getElementById("directText" + dayNum);

            if (way[0].checked == true) {
                directText.style.margin = "2%";
                placeText[0] = "- 장소 : <input type='checkbox' value='school' name='place" + dayNum + "' /> 교내";
                placeText[1] = " <input type='checkbox' value='outside' name='place" + dayNum + "' /> 교외";
                placeText[2] = "<br/><textarea class='form-control' rows='3' name='directDetailPlace" + dayNum + "' placeholder='ex) 블루베리 카페 앞'></textarea><br/>";

                for (var i = 0; i < placeText.length; i++)
                    directText.innerHTML += placeText[i];
            } else if (way[0].checked == false) {
                directText.innerHTML = "";
            }
        }

        function writeLockerPlace(dayNum) {
            var way = document.getElementsByName("way" + dayNum);
            var placeText = new Array();
            var lockerText = document.getElementById("lockerText" + dayNum);

            if (way[1].checked == true) {
                lockerText.style.margin = "2%";
                placeText[0] = "- 사물함 위치 : <br/>";
                placeText[1] = "<textarea class='form-control' rows='3' name='lockerDetailPlace" + dayNum + "' placeholder='ex) 명신관 4층 413호 옆 회색사물함'></textarea><br/>";
                placeText[2] = "- 사물함 번호 : ";
                placeText[3] = "<input type='text' class='form-control' name='lockerNum" + dayNum + "' placeholder='123번' style='width:31%; display:inline;'/><br/><br/>";
                placeText[4] = "- 비밀번호 : ";
                placeText[5] = "<input type='text' class='form-control' name='lockerPw" + dayNum + "' placeholder='1234' style='width:31%; display:inline;'/><br/><br/>";
                for (var i = 0; i < placeText.length; i++)
                    lockerText.innerHTML += placeText[i];
            } else if (way[1].checked == false) {
                lockerText.innerHTML = "";
            }
        }
    </script>

</head>

<body>
    <% include ./sm_top_navigator %>
        <!-- 바디 달력 창 -->
        <div class="container">
            <h1><strong> 구매 신청 </strong></h1>
            <small>거래가 가능한 시간을 작성해 주세요.</small>
            <hr>

            <form id="eventFrom" method="post" class="form-horizontal">
              <div id="dayAddBtnDiv">
                <button type="button" class="btn btn-primary" id="dayAddBtn" onclick="addDay();" style="margin-bottom: 3%;">거래가능 날짜 추가</button>
                <br/><small>날짜는 3개, 시간은 5개까지 추가 가능합니다 :)</small>
                <hr/>
              </div>

                <div class="form-group">
                    <label class="col-xs-3 control-label text-center">● 날짜 : </label>
                    <div class="col-xs-7">
                        <div class='input-group date' id='datepicker0' onclick="setDate(0);">
                            <input type='text' class="form-control" id="dateText0" />
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin-left:7%;">
                    <label class="col-xs-3 control-label text-center">- 시간 : </label>
                    <div class="col-xs-7" style="width:40%;">
                        <div class='input-group date' id='timepicker00' onclick='resetTime(0,0);' style="width: 99%;">
                            <input type='text' class="form-control" id="timeText00" />
                            <span class="input-group-addon" onclick="showPlusBtn(0);">
                        <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <span id="plusBtn0"></span>
                </div>

                <div class="form-group" id="timeDiv01" style="margin-left:7%; "></div>

                <div class="form-group" id="timeDiv02" style="margin-left:7%; "></div>

                <div class="form-group" id="timeDiv03" style="margin-left:7%; "></div>

                <div class="form-group" id="timeDiv04" style="margin-left:7%; "></div>

                <!--전체 페이지 완성되면, 해당 방법 받아와서 그 방법만 보이게 해야함!-->
                <div class="form-group" style="margin-left:7%;">
                    <label class="col-xs-3 control-label text-center">- 방법 : </label>
                    <div class="col-xs-5" style="width: 60%; display:block;">
                        <input type="checkbox" value="직거래" name="way0" onclick="writeTradePlace(0);" />직거래
                        <br/>
                        <div class="col-xs-5" style="width: 95%;" id="directText0"></div>
                        <br/>
                        <input type="checkbox" value="사물함거래" name="way0" onclick="writeLockerPlace(0);" />사물함 거래
                        <br/>
                        <div class="col-xs-5" style="width: 95%;" id="lockerText0"></div>
                        <br/>
                    </div>
                </div>
                <hr/>

                <div id="dayDiv1">
                </div>

                <div id="dayDiv2">
                </div>

                <div class="form-group">
                    <div class="col-xs-5 col-xs-offset-3" style="width:60%;">
                        <button type="submit" class="btn btn-default">거래신청</button>
                        <button type="button" class="btn btn-default"> 취소</button>
                    </div>
                </div>
            </form>
        </div>


        <hr>
        <!-- 바디 달력 버튼 -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
<!-- Footer -->
<% include ./sm_footer %>

</html>
