<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>구매신청</title>


    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/round.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="/node_modules/moment/moment.js"></script>
    <script type="text/javascript" src="/node_modules/moment/locale/ko.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

    <style>
      label{
        font-weight: normal;
      }
    </style>

    <script type="text/javascript">
        var j = new Array(3);
        var erasedOne = new Array(3);
        var deletionCount = new Array(3);
        var timeAdditionCount = new Array(3);
        var dayOfWeek = new Array(3);
        var temp = 0;
        var dayAdditionCount = 0;
        var dayDeletionCount = 0;

        for (var i = 0; i < timeAdditionCount.length; i++) {
            timeAdditionCount[i] = 0;
            deletionCount[i] = 0;
            j[i] = 1;
        }

        for (var i = 0; i < erasedOne.length; i++) {
            erasedOne[i] = new Array();
        }

        for (var i = 0; i < erasedOne.length; i++) {
            for (var t = 0; t < 5; t++) {
                erasedOne[i][t] = 0;
            }
        }

        if (dayAdditionCount == 2) {/////
            var dayAddBtnDiv = document.getElementById("dayAddBtnDiv");
            dayAddBtnDiv.innerHTML = "";
        }

        function setDate(dayNum) {
            var dateText;
            var datepicker;

            dateText = document.getElementById("dateText" + dayNum);
            datepicker = '#datepicker' + dayNum;



            if (dateText.value != "") {
                dateText.value = "";
            }


            $(datepicker).datetimepicker({
                viewMode: 'days',
                locale: 'ko',
                format: 'MM월 DD일 dddd',
                minDate : moment()
            });


            $(datepicker).datetimepicker('show');
        }

        function showPlusBtn(dayNum) {
            var i;
            var PlusBtn = new Array();
            for (i = 0; i <= dayNum; i++) {
                PlusBtn[i] = document.getElementById("plusBtn" + i);
            }

            if (timeAdditionCount[dayNum] < 4) {
                PlusBtn[dayNum].innerHTML = "<img src='/img/plus.png' onclick='addTime(" + dayNum + ");' />";
            } else {
                PlusBtn[dayNum].innerHTML = "";
            }
        }

        function addTime(dayNum) {
            var i = 0;
            var t = 0;
            var PlusBtn;
            var timeDiv = new Array();
            var divStr = new Array();
            var str = "";

            PlusBtn = document.getElementById("plusBtn" + dayNum);


            timeDiv[0] = "";
            for (t = 1; t < 5; t++) {
                timeDiv[t] = document.getElementById("timeDiv" + dayNum + "" + t);
            }


            divStr[0] = "<label class='col-xs-3 control-label text-center' >  </label><div class='col-xs-7' style='width:60%;'>";
            divStr[1] = "<div class='input-group date' id='timepicker" + dayNum + "" + j[dayNum] + "' onclick='resetTime(" + dayNum + "," + j[dayNum] + ");' style='width: 96%;' >";
            divStr[2] = "<input type='text' class='form-control' name='timeText" + dayNum + "" + j[dayNum] + "' id='timeText" + dayNum + "" + j[dayNum] + "' />";
            divStr[3] = "<span class='input-group-addon'><span class='glyphicon glyphicon-calendar'></span></span></div></div>";
            divStr[4] = "<span><button type='button' class='btn btn-default btn-sm' onclick='deleteTime(" + dayNum + "," + j[dayNum] + ");'>삭제</button></span>";

            for (i = 0; i < divStr.length; i++) {
                str += divStr[i];
            }

            if (erasedOne[dayNum][0] == 0) {
                timeDiv[j[dayNum]].innerHTML = str;
                if (j[dayNum] == 4) {
                    PlusBtn.innerHTML = "";
                }
                j[dayNum]++;
                timeAdditionCount[dayNum]++;
            }

            for (t = 1; t < 5; t++) {
                if (erasedOne[dayNum][t] == 1) {
                    temp = j[dayNum];
                    j[dayNum] = t;
                    str = "";

                    divStr[0] = "<label class='col-xs-3 control-label text-center' >  </label><div class='col-xs-7' style='width:60%;'>";
                    divStr[1] = "<div class='input-group date' id='timepicker" + dayNum + "" + j[dayNum] + "' onclick='resetTime(" + dayNum + "," + j[dayNum] + ");' style='width: 96%;' >";
                    divStr[2] = "<input type='text' class='form-control' name='timeText" + dayNum + "" + j[dayNum] + "' id='timeText" + dayNum + "" + j[dayNum] + "' />";
                    divStr[3] = "<span class='input-group-addon'><span class='glyphicon glyphicon-calendar'></span></span></div></div>";
                    divStr[4] = "<span><button type='button' class='btn btn-default btn-sm' onclick='deleteTime(" + dayNum + "," + j[dayNum] + ");'>삭제</button></span>";

                    for (i = 0; i < divStr.length; i++) {
                        str += divStr[i];
                    }

                    timeDiv[t].innerHTML += str;
                    erasedOne[dayNum][t] = 0;
                    deletionCount[dayNum]--;
                    timeAdditionCount[dayNum]++;
                    j[dayNum] = temp;
                    break;
                }
            }

            if (deletionCount[dayNum] == 0) {
                erasedOne[dayNum][0] = 0;
            }

            if (timeAdditionCount[dayNum] == 4) {
                PlusBtn.innerHTML = "";
            }
        }

        function resetTime(dayNum, timeNum) {
            var i = 0;
            var t = 0;
            var timeText;
            var timepicker;

            timeText = document.getElementById("timeText" + dayNum + "" + timeNum);
            timepicker = "#timepicker" + dayNum + "" + timeNum;

            if (timeText.value != "") {
                timeText.value = "";
            }

            $(timepicker).datetimepicker({
                  locale: 'ko',
                  format: 'HH:mm'
            });

            $(timepicker).datetimepicker('show');

        }

        function deleteTime(dayNum, j) {
            var PlusBtn = document.getElementById("plusBtn" + dayNum);
            var timeDiv = new Array(3);
            for (var i = 0; i < timeDiv.length; i++) {
                timeDiv[i] = new Array();
            }
            timeDiv[dayNum][j] = document.getElementById("timeDiv" + dayNum + "" + j);
            timeDiv[dayNum][j].innerHTML = "";
            PlusBtn.innerHTML = "<img src='/img/plus.png' onclick='addTime(" + dayNum + ");' />";
            deletionCount[dayNum]++;
            timeAdditionCount[dayNum]--;
            erasedOne[dayNum][0] = 1;
            erasedOne[dayNum][j] = 1;
        }

        function addDay() {
            var dayDivStr = new Array(4);
            var str = "";
            var i;
            var temp = -1;

            if (dayDeletionCount == 1) {
                temp = dayAdditionCount;
                dayAdditionCount = 0;
            }

            dayAdditionCount++;
            var dayDiv = document.getElementById("dayDiv" + dayAdditionCount);
            for (i = 0; i < dayDivStr.length; i++) {
                dayDivStr[i] = new Array();
            }

            dayDivStr[0][0] = "<div class='form-group'><button type='button' class='btn btn-danger' onclick='deleteDate(" + dayAdditionCount +
                ");' style='float:right;'>삭제</button><br/><br/><br/><label class='col-xs-3 control-label text-center'>● 날짜 : </label>";
            dayDivStr[0][1] = "<div class='col-xs-7'><div class='input-group date' id='datepicker" + dayAdditionCount + "' onclick='setDate(" + dayAdditionCount + ");'>  ";
            dayDivStr[0][2] = "<input type='text' class='form-control' name='dateText" + dayAdditionCount + "' id='dateText" + dayAdditionCount + "' />";
            dayDivStr[0][3] = "<span class='input-group-addon' ><span class='glyphicon glyphicon-calendar' ></span></span></div></div></div>";
            dayDivStr[1][0] = "<div class='form-group' ><label class='col-xs-3 control-label text-center'>- 시간 : </label>";
            dayDivStr[1][1] = "<div class='col-xs-7' style='width:60%;'><div class='input-group date' id='timepicker" + dayAdditionCount + "0' onclick='resetTime(" + dayAdditionCount + ",0);' style='width: 96%;'>";
            dayDivStr[1][2] = "<input type='text' class='form-control' name='timeText" + dayAdditionCount + "0' id='timeText" + dayAdditionCount + "0' /><span class='input-group-addon' onclick='showPlusBtn(" + dayAdditionCount + ");'>";
            dayDivStr[1][3] = "<span class='glyphicon glyphicon-calendar'></span></span></div></div><span id='plusBtn" + dayAdditionCount + "'></span></div>";
            for (i = 0; i <= 3; i++) {
                dayDivStr[2][i] = "<div class='form-group' id= 'timeDiv" + dayAdditionCount + "" + (i + 1) + "'></div>";
            }
            dayDivStr[3][0] = "<div class='form-group' ><label class='col-xs-3 control-label text-center'>- 방법 : </label>";
            <% if(way==1){ %>
            dayDivStr[3][1] = "<div class='col-xs-5' style='width: 60%; display:block;'>";
            dayDivStr[3][2] = "<label><input type='checkbox' value='직거래' name='dway" + dayAdditionCount + "' onclick='writeTradePlace(" + dayAdditionCount + ");' />";
            dayDivStr[3][3] = "직거래</label><br/><div class='col-xs-5' style='width: 95%;' id='directText" + dayAdditionCount + "'></div><br/></div></div><hr/>";

            <% }else if(way==2){ %>
            dayDivStr[3][1] = "<div class='col-xs-5' style='width: 60%; display:block;'>";
            dayDivStr[3][2] = "<label><input type='checkbox' value='사물함거래' name='lway" + dayAdditionCount + "' onclick='writeLockerPlace(" + dayAdditionCount + ");' />사물함 거래</label><br/>";
            dayDivStr[3][3] = "<div class='col-xs-5' style='width: 95%;' id='lockerText" + dayAdditionCount + "'></div><br/></div></div><hr/>";

            <% }else if(way == 3){ %>
            dayDivStr[3][1] = "<div class='col-xs-5' style='width: 60%; display:block;'><label><input type='checkbox' value='직거래' name='dway" + dayAdditionCount + "' onclick='writeTradePlace(" + dayAdditionCount + ");' />직거래</label><br/>";
            dayDivStr[3][2] = "<div class='col-xs-5' style='width: 95%;' id='directText" + dayAdditionCount + "'></div><br/><label><input type='checkbox' value='사물함거래' name='lway" + dayAdditionCount + "' onclick='writeLockerPlace(" + dayAdditionCount +
                ");' />사물함 거래</label><br/>";
            dayDivStr[3][3] = "<div class='col-xs-5' style='width: 95%;' id='lockerText" + dayAdditionCount + "'></div><br/></div></div><hr/>";

            <% } %>

            for (i = 0; i <= 3; i++) {
                for (var k = 0; k <= 3; k++) {
                    str += dayDivStr[i][k];
                }
            }
            dayDiv.innerHTML += str;
            if (dayDeletionCount == 1) {
                if (temp != -1) {
                  if(temp == 0){/////
                    temp = -1;/////
                  }else{/////
                    dayAdditionCount++;
                    temp = -1;
                  }
                }
                dayDeletionCount = 0;
            }
            if (dayAdditionCount == 2) {
                var dayAddBtnDiv = document.getElementById("dayAddBtnDiv");
                dayAddBtnDiv.innerHTML = "";
            }
        }

        function deleteDate(dayNum) {
            var dayDiv = document.getElementById("dayDiv" + dayNum);
            var dayAddBtnDiv = document.getElementById("dayAddBtnDiv");
            dayDiv.innerHTML = "";
            dayAdditionCount--;
            dayAddBtnDiv.innerHTML = "<button type='button' class='btn btn-primary' id='dayAddBtn' onclick='addDay();'' style='margin-bottom: 3%;'>거래가능 날짜 추가</button><hr/>";

            if ((dayNum == 2) && (dayDeletionCount == 1)) {
                dayDeletionCount = 0;
                dayAdditionCount = 0;
            } else if ((dayNum == 1) && (dayDeletionCount == 2)) {
                dayDeletionCount = 0;
                dayAdditionCount = 0;
            } else if ((dayNum == 1)&&(dayDeletionCount==0)) {
                dayAdditionCount = 0;
                dayDeletionCount = 1;
            } else if ((dayNum == 2)&&(dayDeletionCount==0)) {
                dayAdditionCount = 1;
            }
        }

        function writeTradePlace(dayNum) {
            var way = document.getElementsByName("dway" + dayNum);
            var placeText = new Array();
            var directText = document.getElementById("directText" + dayNum);

            if (way[0].checked == true) {
                directText.style.margin = "2%";
                placeText[0] = "- 장소 : <label><input type='checkbox' value='교내' name='place" + dayNum + "' onclick='check("+dayNum+",0);' /> 교내</label>";
                placeText[1] = " <label><input type='checkbox' value='교외' name='place" + dayNum + "' onclick='check("+dayNum+",1);' /> 교외</label>";
                placeText[2] = "<br/><textarea class='form-control' rows='3' name='directDetailPlace" + dayNum + "' id='directDetailPlace" + dayNum + "' placeholder='ex) 블루베리 카페 앞'></textarea><br/>";


                for (var i = 0; i < placeText.length; i++)
                    directText.innerHTML += placeText[i];
            } else if (way[0].checked == false) {

                directText.innerHTML = "";
            }
        }

        function check(dayNum, i){
          var place = document.getElementsByName("place"+dayNum);
          if(i==0){
            place[0].checked = true;
            place[1].checked = false;
          }else{
            place[1].checked = true;
            place[0].checked = false;
          }
        }

        function writeLockerPlace(dayNum) {
            var way = document.getElementsByName("lway" + dayNum);
            var placeText = new Array();
            var lockerText = document.getElementById("lockerText" + dayNum);

            if (way[0].checked == true) {
                lockerText.style.margin = "2%";
                placeText[0] = "- 사물함 위치 : <br/>";
                placeText[1] = "<textarea class='form-control' rows='3' name='lockerDetailPlace" + dayNum + "' id='lockerDetailPlace" + dayNum + "' placeholder='ex) 명신관 4층 413호 옆 회색사물함'></textarea><br/>";
                placeText[2] = "- 사물함 번호 : ";
                placeText[3] = "<input type='text' class='form-control' name='lockerNum" + dayNum + "' id='lockerNum" + dayNum + "' placeholder='123' style='width:31%; display:inline;'/><br/>";
                placeText[4] = "<br/>";
                placeText[5] = "- 비밀번호 : ";
                placeText[6] = "<input type='text' class='form-control' name='lockerPw" + dayNum + "' placeholder='1234' style='width:31%; display:inline;'/><br/>";
                placeText[7] = "<br/><small>※비번 없을 시, '없음' 기입!</small><br/>";
                for (var i = 0; i < placeText.length; i++)
                    lockerText.innerHTML += placeText[i];
            } else if (way[0].checked == false) {
                lockerText.innerHTML = "";
            }
        }

        function submitCheck() {
            var i, j;
            var dateText = new Array();
            var timeText = new Array();
            var directWay = new Array();
            var lockerWay = new Array();
            var form = document.getElementById("eventFrom");

            for (i = 0; i <= dayAdditionCount; i++) {
                timeText[i] = new Array();
            }

            for (i = 0; i <= dayAdditionCount; i++) {
                dateText[i] = document.getElementById("dateText" + i);

                if (dateText[i].value == "") {
                    alert("날짜를 선택해주세요!");
                    dateText[i].focus();
                    return false;
                    break;
                } else {

                }

                for (j = 0; j <= timeAdditionCount[i]; j++) {
                    timeText[i][j] = document.getElementById("timeText" + i + "" + j);
                    if (timeText[i][j].value == "") {
                        alert("시간을 선택해주세요!");
                        timeText[i][j].focus();
                        return false;
                        break;
                    }

                }

                <% if(way!=2){ %>
                directWay[i] = document.getElementsByName("dway" + i);
                <% }else if(way!=1){ %>
                lockerWay[i] = document.getElementsByName("lway" + i);
                <%
                }

                if(way == 3){
                %>
                if ((directWay[i][0].checked == false) && (lockerWay[i][0].checked == false)) {
                    alert("원하는 거래 방식을 선택해주세요!");
                    return false;
                    break;
                }
                <% }else if(way == 1){ %>

                if (directWay[i][0].checked == false) {
                    alert("직거래를 선택해주세요!");
                    return false;
                    break;
                }
                <% }else if(way == 2){ %>
                if (lockerWay[i][0].checked == false) {
                    alert("사물함 거래를 선택해주세요!");
                    return false;
                    break;
                }
                <% } %>

                <% if(way != 2){ %>
                if (directWay[i][0].checked == true) {
                    var place = new Array();
                    var directDetailPlace = new Array();

                    place[i] = document.getElementsByName("place" + i);
                    directDetailPlace[i] = document.getElementById("directDetailPlace" + i);


                    if ((place[i][0].checked == false) && (place[i][1].checked == false)) {
                        alert("직거래가 교내인지 교외인지 체크해주세요!");
                        return false;
                        break;
                    } else if ((place[i][0].checked == true) && (place[i][1].checked == true)) {
                        alert("직거래가 교내, 교외 둘 다 체크되어 있습니다!");
                        return false;
                        break;
                    } else if (((place[i][0].checked == true) || (place[i][1].checked == true))) {
                        if (directDetailPlace[i].value == "") {
                            alert("직거래 장소를 기입해주세요!");
                            directDetailPlace[i].focus();
                            return false;
                            break;
                        }
                    }
                }
                <% }else if(way != 1){ %>

                if (lockerWay[i][0].checked == true) {
                    var lockerDetailPlace = new Array();
                    var lockerNum = new Array();
                    var lockerPw = new Array();

                    lockerDetailPlace[i] = document.getElementById("lockerDetailPlace" + i);
                    lockerNum[i] = document.getElementById("lockerNum" + i);
                    lockerPw[i] = document.getElementById("lockerPw" + i);

                    if (lockerDetailPlace[i].value == "") {
                        alert("사물함 위치를 기입해주세요!");
                        lockerDetailPlace[i].focus();
                        return false;
                        break;
                    } else if (lockerNum[i].value == "") {
                        alert("사물함 번호를 기입해주세요!");
                        lockerNum[i].focus();
                        return false;
                        break;
                    } else if (lockerPw[i].value == ""){
                      alert("사물함 비밀번호를 기입해주세요!");
                      lockerPw[i].focus();
                      return false;
                      break;
                    }
                }
                <% } %>
            }


            // var socket = io();
            // var str = "소켓 테스트";
            //
            // socket.emit('chat message', "a");


            form.submit();
            return true;
        }
    </script>

</head>

<body>
    <% include ./sm_top_navigator %>

        <div class="container">
          <% if(isExisted == 0){ %>
            <h1 style="margin-left:5%;"><strong> 구매 신청 </strong></h1>
            <small style="margin-left:5%;">거래가 가능한 시간을 작성해 주세요.</small>
          <% }else { %>
            <h1 style="margin-left:5%;"><strong> 시간 변경 </strong></h1>
          <% } %>
            <hr>

            <form id="eventFrom" action="/sm_request/<%= id %>/<%= isUrgent %>" method="post" class="form-horizontal" onsubmit="return submitCheck()">
                <div id="dayAddBtnDiv" style="margin-left:5%;margin-right:5%;">
                    <button type="button" class="btn btn-primary" id="dayAddBtn" onclick="addDay();" style="margin-bottom: 3%;">거래가능 날짜 추가</button>
                    <br/><small>날짜는 3개, 시간은 5개까지 추가 가능합니다 :)</small>
                    <hr/>
                </div>

                <div class="form-group">
                    <label class="col-xs-3 control-label text-center">● 날짜 : </label>
                    <div class="col-xs-7">
                        <div class='input-group date' id='datepicker0' onclick="setDate(0);">
                            <input type='text' class="form-control" name="dateText0" id="dateText0" />
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group" >
                    <label class="col-xs-3 control-label text-center">- 시간 : </label>
                    <div class="col-xs-7" style="width:60%;">
                        <div class='input-group date' id='timepicker00' onclick='resetTime(0,0);' style="width: 96%;">
                            <input type='text' class="form-control" name="timeText00" id="timeText00" />
                            <span class="input-group-addon" onclick="showPlusBtn(0);">
                        <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <span id="plusBtn0"></span>
                </div>

                <div class="form-group" id="timeDiv01" ></div>

                <div class="form-group" id="timeDiv02" ></div>

                <div class="form-group" id="timeDiv03" ></div>

                <div class="form-group" id="timeDiv04" ></div>


                <div class="form-group" >
                    <label class="col-xs-3 control-label text-center">- 방법 : </label>
                    <div class="col-xs-5" style="width: 60%; display:block;">
                        <%
                      if((way == 1)||(way == 3)){
                      %>
                          <label>
                            <input type="checkbox" value="직거래" name="dway0" onclick="writeTradePlace(0);" />직거래
                          </label>
                            <br/>
                            <div class="col-xs-5" style="width: 95%;" id="directText0"></div>
                            <br/>
                            <% }
                        if((way == 2)||(way == 3)){
                        %>
                                <label>
                                  <input type="checkbox" value="사물함거래" name="lway0" onclick="writeLockerPlace(0);" />사물함 거래
                                </label>
                                <br/>
                                <div class="col-xs-5" style="width: 95%;" id="lockerText0"></div>
                                <br/>
                                <% } %>
                    </div>
                </div>
                <hr/>

                <div id="dayDiv1">
                </div>

                <div id="dayDiv2">
                </div>

                <div class="form-group">
                    <div class="col-xs-5" style="text-align:center;width:60%;margin-left:20%;">
                      <% if(isExisted == 0){ %>
                        <button type="submit" class="btn btn-success">거래신청</button>
                      <% }else{ %>
                        <button type="submit" class="btn btn-success">시간 변경 신청</button>
                      <% } %>
                        <button type="button" class="btn btn-default" onclick="location.href='/sm_request/<%= id %>/cancel'"> 취소</button>
                    </div>
                </div>
            </form>
        </div>


        <hr>
        <!-- 바디 달력 버튼 -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
<!-- Footer -->
<% include ./sm_footer %>

</html>
