<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>구매신청</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/round.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        var j = 1;
        var erasedOne = new Array();
        var deletionCount = 0;
        var timeCount = 0;
        var temp = 0;

        erasedOne[0] = erasedOne[1] = erasedOne[2] = erasedOne[3] = erasedOne[4] = 0;

        $(function() {
            $('#datepicker0').datetimepicker({
                viewMode: 'days',
                format: 'YYYY/MM/DD'
            });
            $('#timepicker0').datetimepicker({
                format: 'LT'
            });
        });

        function setDate() {
            var dateText = document.getElementById("dateText");
            if (dateText.value != "") {
                dateText.value = "";
            }
        }

        function setTime(timeNum) {
            var i = 0;
            var timeText = new Array();
            var timepicker = new Array();
            for (i = 0; i < j; i++) {
                timeText[i] = document.getElementById("timeText" + i);
                timepicker[i] = "#timepicker" + i;
            }
            if (timeText[timeNum].value != "") {
                timeText[timeNum].value = "";
            }
            for (i = 0; i < j; i++) {
                $(timepicker[i]).datetimepicker({
                    format: 'LT'
                });
            }
        }

        function writeTradePlace() {
            var way = document.getElementsByName("way");
            var placeText = new Array();
            var directText = document.getElementById("directText");

            if (way[0].checked == true) {
                directText.style.margin = "2%";
                placeText[0] = "- 장소 : <input type='checkbox' value='school' name='place' /> 교내";
                placeText[1] = " <input type='checkbox' value='outside' name='place' /> 교외";
                placeText[2] = "<br/><textarea class='form-control' rows='3' name='directDetailPlace' placeholder='ex) 블루베리 카페 앞'></textarea><br/>";

                for (var i = 0; i < placeText.length; i++)
                    directText.innerHTML += placeText[i];
            } else if (way[0].checked == false) {
                directText.innerHTML = "";
            }
        }

        function writeLockerPlace() {
            var way = document.getElementsByName("way");
            var placeText = new Array();
            var lockerText = document.getElementById("lockerText");

            if (way[1].checked == true) {
                lockerText.style.margin = "2%";
                placeText[0] = "- 사물함 위치 : <br/>";
                placeText[1] = "<textarea class='form-control' rows='3' name='lockerDetailPlace' placeholder='ex) 명신관 4층 413호 옆 회색사물함'></textarea><br/>";
                placeText[2] = "- 사물함 번호 : ";
                placeText[3] = "<input type='text' class='form-control' name='lockerNum' placeholder='123번' style='width:31%; display:inline;'/><br/><br/>";
                placeText[4] = "- 비밀번호 : ";
                placeText[5] = "<input type='text' class='form-control' name='lockerPw' placeholder='1234' style='width:31%; display:inline;'/><br/><br/>";
                for (var i = 0; i < placeText.length; i++)
                    lockerText.innerHTML += placeText[i];
            } else if (way[1].checked == false) {
                lockerText.innerHTML = "";
            }

        }

        function showPlusBtn() {
            var directPlusBtn = document.getElementById("plusBtn");
            if (timeCount <= 4) {
                directPlusBtn.innerHTML = "<img src='/img/plus.png' onclick='addTime();' />";
            } else {
                directPlusBtn.innerHTML = "";
            }
        }

        function addTime() {
            var directPlusBtn = document.getElementById("plusBtn");
            var timeDiv = new Array();
            var divStr = new Array();
            var str = "";

            timeDiv[0] = "";
            timeDiv[1] = document.getElementById("timeDiv1");
            timeDiv[2] = document.getElementById("timeDiv2");
            timeDiv[3] = document.getElementById("timeDiv3");
            timeDiv[4] = document.getElementById("timeDiv4");

            divStr[0] = "<label class='col-xs-3 control-label text-center' >  </label><div class='col-xs-7' style='width:40%;'>";
            divStr[1] = "<div class='input-group date' id='timepicker" + j + "' onclick='setTime(" + j + ");' style='width: 99%;' >";
            divStr[2] = "<input type='text' class='form-control' id='timeText" + j + "' />";
            divStr[3] = "<span class='input-group-addon'><span class='glyphicon glyphicon-calendar'></span></span></div></div>";
            divStr[4] = "<span><button type='button' class='btn btn-default btn-sm' onclick='deleteTime(" + j + ");'>삭제</button></span>";

            for (var i = 0; i < divStr.length; i++) {
                str += divStr[i];
            }

            if (erasedOne[0] == 0) {
                switch (j) {
                    case 1:
                        timeDiv[1].innerHTML += str;
                        break;
                    case 2:
                        timeDiv[2].innerHTML += str;
                        break;
                    case 3:
                        timeDiv[3].innerHTML += str;
                        break;
                    case 4:
                        timeDiv[4].innerHTML += str;
                        directPlusBtn.innerHTML = "";
                        break;
                }
                j++;
                timeCount++;
            }

            for (var t = 1; t < erasedOne.length; t++) {
                if (erasedOne[t] == 1) {
                    temp = j;
                    j=t;
                    str = "";

                    divStr[0] = "<label class='col-xs-3 control-label text-center' >  </label><div class='col-xs-7' style='width:40%;'>";
                    divStr[1] = "<div class='input-group date' id='timepicker" + j + "' onclick='setTime(" + j + ");' style='width: 99%;' >";
                    divStr[2] = "<input type='text' class='form-control' id='timeText" + j + "' />";
                    divStr[3] = "<span class='input-group-addon'><span class='glyphicon glyphicon-calendar'></span></span></div></div>";
                    divStr[4] = "<span><button type='button' class='btn btn-default btn-sm' onclick='deleteTime(" + j + ");'>삭제</button></span>";

                    for (var i = 0; i < divStr.length; i++) {
                        str += divStr[i];
                    }

                    timeDiv[t].innerHTML += str;
                    erasedOne[t] = 0;
                    deletionCount--;
                    timeCount++;
                    j = temp;
                    break;
                }
            }

            if(deletionCount == 0){
              erasedOne[0] = 0;
            }

            if (timeCount == 4) {
                directPlusBtn.innerHTML = "";
            }
        }

        function deleteTime(j) {
            var directPlusBtn = document.getElementById("plusBtn");
            switch (j) {
                case 1:
                    var timeDiv1 = document.getElementById("timeDiv1");
                    timeDiv1.innerHTML = "";
                    break;
                case 2:
                    var timeDiv2 = document.getElementById("timeDiv2");
                    timeDiv2.innerHTML = "";
                    break;
                case 3:
                    var timeDiv3 = document.getElementById("timeDiv3");
                    timeDiv3.innerHTML = "";
                    break;
                case 4:
                    var timeDiv4 = document.getElementById("timeDiv4");
                    timeDiv4.innerHTML = "";
                    break;
            }
            directPlusBtn.innerHTML = "<img src='/img/plus.png' onclick='addTime();' />";
            deletionCount++;
            timeCount--;
            erasedOne[0] = 1;
            erasedOne[j] = 1;
        }
    </script>

</head>

<body>
    <!-- 네비게이터 윗 부분 -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="sm_main.html"><img src="/img/snow.gif" href="#" alt="logo"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> sooks market <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="sm_tradeInfo.html">전체</a></li>
                            <li><a href="#">가방</a></li>
                            <li><a href="#">음식</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">mypage <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="sm_mypage.html">내 정보</a></li>
                            <li><a href="sm_changeInfo.html">회원정보수정</a></li>
                            <li><a href="sm_tradeInfo.html">나의거래내역</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="sm_complain.html">개발자건의하기</a>
                    </li>
                    <li>
                        <a href="sm_signup.html">회원가입</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- 바디 달력 창 -->
    <div class="container">
        <h1><strong> 구매 신청 </strong></h1>
        <small>거래가 가능한 시간을 작성해 주세요.</small>
        <hr>

        <form id="eventFrom" method="post" class="form-horizontal">
            <button type="button" class="btn btn-primary" onclick="addDay();" style="margin-bottom: 3%;">거래가능 날짜 추가</button>
            <hr/>
            <div class="form-group">
                <label class="col-xs-3 control-label text-center">● 날짜 : </label>
                <div class="col-xs-7">
                    <div class='input-group date' id='datepicker0' onclick="setDate();">
                        <input type='text' class="form-control" id="dateText" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group" style="margin-left:7%;">
                <label class="col-xs-3 control-label text-center">- 시간 : </label>
                <div class="col-xs-7" style="width:40%;">
                    <div class='input-group date' id='timepicker0' onclick='setTime(0);' style="width: 99%;">
                        <input type='text' class="form-control" id="timeText0" />
                        <span class="input-group-addon" onclick="showPlusBtn();">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <span id="plusBtn"></span>
            </div>

            <div class="form-group" id="timeDiv1" style="margin-left:7%; "></div>

            <div class="form-group" id="timeDiv2" style="margin-left:7%; "></div>

            <div class="form-group" id="timeDiv3" style="margin-left:7%; "></div>

            <div class="form-group" id="timeDiv4" style="margin-left:7%; "></div>

            <!--전체 페이지 완성되면, 해당 방법 받아와서 그 방법만 보이게 해야함!-->
            <div class="form-group" style="margin-left:7%;">
                <label class="col-xs-3 control-label text-center">- 방법 : </label>
                <div class="col-xs-5" style="width: 60%; display:block;">
                    <input type="checkbox" value="직거래" name="way" onclick="writeTradePlace();" />직거래
                    <br/>
                    <div class="col-xs-5" style="width: 95%;" id="directText"></div>
                    <br/>
                    <input type="checkbox" value="사물함거래" name="way" onclick="writeLockerPlace();" />사물함 거래
                    <br/>
                    <div class="col-xs-5" style="width: 95%;" id="lockerText"></div>
                    <br/>
                </div>
            </div>
            <hr/>

            <div class="form-group">
                <div class="col-xs-5 col-xs-offset-3" style="width:60%;">
                    <button type="submit" class="btn btn-default">거래신청</button>
                    <button type="button" class="btn btn-default"> 취소</button>
                </div>
            </div>
        </form>
    </div>


    <hr>
    <!-- 바디 달력 버튼 -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
<!-- Footer -->
<% include ./sm_footer %>

</html>
