<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./sm_head %>

  <style>
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  </style>

  <script>
  function confirmation(){
    var comment = document.getElementById("comment").value;

    if (comment == ""){
      alert("내용을 입력해주세요.");
      document.getElementById("comment").focus();
      return false;
    }
    else{
      var retVal = confirm("건의하시겠습니까?");
      var submitAfter = document.getElementById("submitAfter");
      var submitBefore = document.getElementById("submitBefore");

      if( retVal == true ){
        submitAfter.style.display="";
        submitBefore.style.display="none";

        alert('건의되었습니다.');
        form.submit();
        return true;
      }else{
        location.href = '/sm_suggest';
        return false;
      }
    }
  }

  function cancel(){
    var cancelAfter = document.getElementById("cancelAfter");
    var cancelBefore = document.getElementById("cancelBefore");

    cancelAfter.style.display="";
    cancelBefore.style.display="none";

    location.href = '/sm_suggest';
  }

  window.onload = function(){
    var loader = document.getElementById('loader');
    var body = document.getElementById('body');
    var loadPage = document.getElementById('loadPage');

    loader.style.display="none";
    body.style.backgroundColor="#ffffff";
    loadPage.style.display="";


    $('#loader').hide();
  }
  </script>

</head>

<body id="body">

  <div id="loader"></div>

  <div style="display:none" id="loadPage">
    <% include ./sm_top_navigator %>


    <div class="container">
        <!-- 본문 1-->
        <h3 style="text-align:center;"><img src="/img/mail.png" width="37" style="margin-right:5%;"/>
          <strong> 개발자에게 건의하기 </strong>
        <img src="/img/notepad.png" width="37" style="margin-left:5%;" /></h3>

        <hr />
        <div class="row">

            <div class="col-xs-10 col-md-6 col-md-offset-3 col-xs-offset-1">
              <form action="/sm_suggest" id="eventFrom" method="post" class="form-horizontal" onsubmit="return confirmation()">
                <div class="form-group" style="text-align:center;">
                    <label>사용자 :</label style="display:inline;">
                    <input type="text" class="form-control" id="userID" name="userID" value="<%= userID %>"  style="cursor:context-menu; width:70%; display:inline;" disabled>
                </div>
                <div class="form-group" style="text-align:center;"><br/>
                    <label>건의할 사항을 편하게 적어주세요!</label></label>
                </div>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment" name="comment" style="resize: none;"></textarea>
                </div>
                <center>
                  <button class="btn btn-warning" id="submitAfter" style="display:none; margin-right:2%" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 제출하기</button>
                  <button type="submit" class="btn btn-warning" id="submitBefore" style="margin-right:2%">제출하기</button>
                  <button class="btn btn-default" id="cancelAfter" style="display:none;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 취소</button>
                  <button type="button" class="btn btn-default" id="cancelBefore" onclick="cancel()">취소</button>
                </center>
              </form>
            </div>


        </div>

    </div>

    <% include ./sm_footer %>

    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </div>
</body>



</html>
