<!doctype html>
<html>

<head>
  <% include ./sm_head %>
  <style>
    #sha {
      color: black;
       text-shadow: #99FFCC 0px 0px 10px 10px;
    }
  </style>
</head>

<body>
  <!-- 네이게이션 상단 부분 -->
  <% include ./sm_top_navigator %>

  <div class="container">
    <h2><p id="title" class="lead text-center">거래 상태</p></h2>
      <div class="row">
        <table class="table table-hover">
          <thead class="text-center">
            <tr>
              <td> </td>
              <td>상태</td>
              <td>물품</td>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr>
              <td>구매</td>
              <td>거래완료</td>
              <td>티셔츠</td>
            </tr>
            <tr>
              <td>판매</td>
              <td>준비중</td>
              <td>준비중</td>
            </tr>
            <tr>
              <td>sample</td>
              <td>준비중</td>
              <td>준비중</td>
            </tr>
            <tr>
              <td>sample</td>
              <td>준비중</td>
              <td>준비중</td>
            </tr>
          </tbody>
        </table>
      </div>

  </div>



</body>
