<style>
*{
  font-family:'THE외계인설명서';
}
</style>


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/sm_main"><img src="/img/snow.gif" href="#" alt="logo"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 카테고리 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/sm_main">전체</a></li>
                      <li><a href="/category/옷">옷</a></li>
                      <li><a href="/category/화장품">화장품</a></li>
                      <li><a href="/category/책">책</a></li>
                      <li><a href="/category/음식">음식</a></li>
                      <li><a href="/category/전자기기">전자기기</a></li>
                      <li><a href="/category/필기류">필기류</a></li>
                      <li><a href="/category/티켓 양도">티켓 양도</a></li>
                      <li><a href="/category/기타">기타</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/sm_review">후기게시판</a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">mypage <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/sm_enter_changeInfo">회원정보수정</a></li>
                      <li><a href="/sm_tradeState">나의거래내역</a></li>
                      <li><a href="/sm_scrap">스크랩</a></li>
                      <li><a href="/sm_reserve_list">예약내역</a></li>
                      <li><a href="/sm_complainList">신고내역</a></li>
                      <li><a href="/sm_suggestList">건의내역</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/sm_complain">신고하기</a>
                </li>
                <li>
                    <a href="/sm_suggest">개발자건의하기</a>
                </li>
                <li>
                  <a href="/sm_unsign">회원탈퇴</a>
                </li>
                <li>
                    <a href="/sm_logout"><%=session_id%>님 로그아웃</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
