<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./sm_head %>

    <style>
    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    </style>

    <script>
    function confirmation(){
      var submitAfter = document.getElementById("submitAfter");
      var submitBefore = document.getElementById("submitBefore");

      submitAfter.style.display="";
      submitBefore.style.display="none";

      form.submit();
      return true;
    }

    function cancel(){
      var cancelAfter = document.getElementById("cancelAfter");
      var cancelBefore = document.getElementById("cancelBefore");

      cancelAfter.style.display="";
      cancelBefore.style.display="none";

      window.location.href = "/sm_main";
    }

    window.onload = function(){
      var loader = document.getElementById('loader');
      var body = document.getElementById('body');
      var loadPage = document.getElementById('loadPage');

      loader.style.display="none";
      body.style.backgroundColor="#ffffff";
      loadPage.style.display="";


      $('#loader').hide();

      if ("<%= `${flag}` %>" == 1){
        alert("탈퇴하였습니다.\n이용해주셔서 감사합니다:)");
        window.location.href = "/sm_logout";
      }
      else if ("<%= `${flag}` %>" == 2){
        alert("거래가 완료되어야 탈퇴하실 수 있습니다.\n[mypage]->[나의거래내역]에서 확인하세요.");
        window.location.href = "/sm_main";
      }
      else if ("<%= `${flag}` %>" == 3){
        alert('한 달(<%= `${allowDate}` %>)동안 회원탈퇴를 하실 수 없습니다.');
        window.location.href = "/sm_main";
      }
    }

    </script>
</head>

<body id="body">

  <div id="loader"></div>

  <div style="display:none" id="loadPage">
    <% include ./sm_top_navigator %>

    <div class="container">
      <h3 style="text-align:center;">
        <img src="/img/logout1.png" width="37" style="margin-right:3%;" />
        <strong> 회원 탈퇴 </strong>
      <img src="/img/logout2.png" width="37" style="margin-left:3%;" /></h3>
      <hr/>

        <!-- 본문 1-->
        <div class="row">

              <form action="/sm_unsign" id="eventFrom" method="post" class="form-horizontal" onsubmit="return confirmation()">

                <div class="form-group text-left" style="margin-top:5%; margin-bottom:5%">
                  <div class="col-xs-10 col-md-6 col-md-offset-3 col-xs-offset-1 bg-danger">
                    <h5>※ 탈퇴 시 개인정보, 게시글은 삭제됩니다.</h5>
                    <h5>※ 본인이 작성한 댓글은 삭제되지 않습니다.</h5>
                    <h5>※ 탈퇴를 원하시면 아래 "확인" 버튼을, 탈퇴를 취소하실 경우 "취소" 버튼을 클릭해주십시오.</h5>

                  </div>
                </div>


                <div class="form-group text-center">
                  <div class="col-xs-10 col-md-6 col-md-offset-3 col-xs-offset-1">
                    <button class="btn btn-warning" id="submitAfter" style="display:none; margin-right:2%" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 확인</button>
                    <button type="submit" class="btn btn-warning" id="submitBefore" style="margin-right:2%">확인 </button>
                    <button class="btn btn-default" id="cancelAfter" style="display:none;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 취소</button>
                    <button type="button" class="btn btn-default" id="cancelBefore" onclick="cancel()">취소</button>
                  </div>
                </div>

                  <hr/>
              </form>

        </div>

    </div>

    <% include ./sm_footer %>

    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </div>
</body>



</html>
